/* body{
    color: red;
}
.container1{
    color: black;
}
.container2{
    color: purple;
} */
/* h1{
    background-color: aqua;
    width: 500px;
    text-align: center;
} */
p{
    font-weight: 0px;
    opacity: 0.6;
}